
<footer>
        <div class="row footer-row">
            <div class="col">
                <img src="/static/logo_img.png" class="footer-logo">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita vero quidem reiciendis, mollitia atque exercitationem, dolor impedit similique ab, temporibus nobis corrupti placeat in. Quasi?</p>
            </div>
            <div class="col">
                <div class="c1">
                <h3>Office <div class="underline"><span></span></div></h3>
                <p>Lorem ipsum dolor sit amet consectetur. Voluptates, laboriosam?</p>
                <a class="email_id" href="#">devangt101003@gmail.com</a>    
                <h6>+91-1234567890</h6>
                </div>                        
            </div>
            <div class="col">
                <div class="c2">
                <h3>Links <div class="underline"><span></span></div></h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Features</a></li>
                </ul>
                </div>
            </div>
            <div class="col">
                <div class="c3">
                <h3>Newsletter <div class="underline"><span></span></div></h3>
                <form class="footer-form">
                    <i class="envelope fas fa-envelope fa"></i>
                    <input class="email" type="email" placeholder="enter your email id" required>
                    <button class="footer-btn" type="submit">
                        <i class="fas fa-solid fa-arrow-right"></i>
                    </button>
                </form>
                <div class="social-icons">
                <a href=""><i class="icon fa-brands fa-facebook"></i></a>
                <a href=""><i class="icon fa-brands fa-twitter"></i></a>
                <a href=""><i class="icon fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="icon fa-brands fa-instagram"></i></a>
                </div>
                </div>
            </div>
         </div>
         <hr>
            <p class="copyright">Copyright @ 2023 - All rights reserved</p>
</footer>