<%- include('partials/header') %>

<form method="POST" action="/addItem" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" class="input-field" name="name" placeholder="Item Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="input-field" name="quantity" placeholder="Quantity" required>
      </div>
      <div class="form-group">
        <input type="text" class="input-field" name="price" placeholder="Price" required>
      </div>

      <br>
      <input class="radio-btn" type="radio" name="category" value="veg">
      <label for="gender">Veg</label>
      <input class="radio-btn" type="radio" name="category" value="nonVeg">
      <label for="gender">Non-Veg</label>
      <input type="file" name="file">
      <button type="submit" class="sub-btn">Add</button>
</form>

<%- include('partials/footer') %>