<%- include('partials/header') %>


<section class="colored-section" id="title">
  <div class="container-fluid">

    <div class="row">

      <div class="texts col-lg-6">
        <p class="big-heading">
        <h1>With new hot food, you can satisfy the carving of your crew.</h1>
        </p>
        <button type="button" class="title-btn bg-danger download-button-1">Order now</button>
        <button type="button" class="title-btn bg-light download-button-2"> Track Order</button>
      </div>

      <div class="col-lg-6">
        <img class="title-image" src="/static/food.png" alt="">
      </div>
    </div>
  </div>
</section>


<!--features-->
<section class="white-section" id="features">

  <div class="container-fluid-features">
    <h2 class="service">Our Services</h2>

    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="image-features" src="/static/order online.png" alt="">
        <h3 class="feature-title">Easy to order</h3>
      </div>

      <div class="feature-box col-lg-4">
        <img class="image-features" src="/static/delivery 2.png" alt="">
        <h3 class="feature-title">Fast Delivery</h3>
      </div>

      <div class="feature-box col-lg-4">
        <img class="image-features" src="/static/best.png" alt="">
        <h3 class="feature-title">Best Quality</h3>
      </div>
    </div>
  </div>
</section>

<!--Menu-->
<section class="menu-section" id="Menu">
  <div>
    <h2 class="menu-head">Pick your fav's</h2>
    <div class="row menu-row">
      <div class="menu-box  col-md-3">
        <a href="/category/pizza" class="food-items"><img class="food" src="/static/pizza-removebg-preview - Copy.png" alt="">
        <h3>Pizza</h3>
        </a>
      </div>

      <div class="menu-box col-md-3">
        <a href="/category/burger" class="food-items"><img class="food" src="/static/burger_2-removebg-preview.png" alt="">
        <h3>Burger</h3>
        </a>
      </div>

      <div class="menu-box col-lg-3">
        <a href="/category/sandwich" class="food-items"><img class="food" src="/static/sandwich2-removebg-preview.png" alt="">
        <h3>Sandwich</h3>
        </a>
      </div>

      <div class="menu-box col-lg-3">
        <a href="/category/chinese" class="food-items"><img class="food" src="/static/chinese2-removebg-preview.png" alt="">
        <h3>Chinese</h3>
        </a>
      </div>

      <div class="menu-box col-lg-3">
        <a href="/category/south-indian" class="food-items"><img class="food" src="/static/southindian-removebg-preview.png" alt="">
        <h3>South-Indian</h3>
        </a>
      </div>

      <!-- <div class="menu-box col-lg-3">
        <a href="" class="food-items"><img class="food bev" src="/static/colddrink-removebg-preview.png" alt="">
        <h3>Beverages</h3>
        </a>
      </div> -->

      <div class="menu-box col-lg-3">
        <a href="/category/desserts" class="food-items"><img class="food" src="/static/dessert-removebg-preview (2).png" alt="">
        <h3>Desserts</h3>
        </a>
      </div>

      <div class="menu-box col-lg-3">
        <a href="/category/gujarati" class="food-items"><img class="food" src="/static/gujarati_thali-removebg-preview.png" alt="">
        <h3>Gujarati</h3>
        </a>
      </div>

      <div class="menu-box col-lg-3">
        <a href="/category/north-indian" class="food-items"><img class="food" src="/static/punjabi-removebg-preview.png" alt="">
        <h3>North-Indian</h3>
        </a>
      </div>


    </div>
  </div>
</section>

<%- include('partials/footer') %>