body{
    margin: 0px;
    background-color: #fbd4be;
}

h2 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.navbar{
    height: 3rem;
    margin-top: 1.5rem;
    font-weight:700;
    padding-left: 7%;
}

.navbar ul{
    margin-left: 12rem;
}

.navbar ul li{
    padding: 6px 3px;
    margin: 0rem 1.5rem;
}

.icons {
    padding: 30px 40px;
    text-decoration: none;
    color: black;
}

.logo {
    width: 8%;
}

/* .profile-icon{
    width: 60px;
    height: 60px;
} */
.user-pic{
    width: 4%;
    /* height: 50px; */
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 3%;
}

.sub-menu-wrap{
    position: absolute;
    top:90%;
    right: 3%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5%;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    font-family: 'Satisfy', cursive;
    margin-top: 10px;
}

.user-info img{
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0px 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    margin-top: 12px;
}

.sub-menu-link .img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 12px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.search-bar{
    width: 100%;
    /* max-width: 500px; */
    background-color:#fffffe;
    display: flex;
    align-items: center;
    border-radius: 60px;
   padding: 5px 10px;
}
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 15px;
    color: black,;
}
::placeholder{
    color: black;
}
.search-bar button i{
    padding: 5%;
    color: white;
}
.search-bar button
{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #000000;
    cursor: pointer;
}

/* Profile */

.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.profile-card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    background-color: white;
}
.card-header{
    padding: 3% 3% 0;
}
.card-footer{
    padding: 0 3% 3%;
}
.profile-card .profile-card-header {
    font-weight: 500;
}
.profile-card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.profile-card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container-xl{
    max-width: 80%;
}

/* #Home */

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
h3{
    font-size: 1.5rem;
}
#title {
    color: black;
    text-align: left;
}

  
#title .container-fluid {
    padding: 10% 20%;
    font-size: 2em;
    height: 40rem;
}

.title-image {
    margin: -15% 0% 20% 20%;
    width: 110%;
    height: auto;

}

.download-button-1{
    color: white;
}

.title-btn{
    height: 3rem;
    width: 70%;
    margin: 3% 0%;
    border-radius: 10rem;
    border: 0;
    outline: none;
    font-size: 60%;
    font-weight: 600;
} 

#features {
    position: relative;
    background-color: white;
    height: 35rem;

}

.container-fluid-features{
    height: 100%;
}

.container-fluid-features .row{
    height: 80%;
    margin-right: 0% !important;
}
  
.feature-title {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin-top: 8%;
}
  

.feature-box{
    height: 100%;
    text-align: center;
    padding-top: 3%;
}

.image-features{
    height: 60%;
    /* padding-right: 25%; */
}


.service {
    text-align: center;
    padding-top: 5%;
}

#Menu {
    background-color: white;
    padding-right: 5%;
    padding-bottom: 5%;
}

.food {
    height: 150px;
    width: 160px;
    
}

.menu-row{
    width: 100%;
    padding: 0 15%;
}

.menu-head {
    text-align: center;
    padding-top: 5%;
}

.menu-box .food-items{
    text-decoration: none;
    color: black;
}

.menu-box {
    padding: 2%;
    /* padding-right: 15%; */
    padding-left: 8%;
    text-align: center;
}

.bev{
    padding-left: 10%;
}

/* footer */

footer{
    width: 100%;
    bottom: 0;
    /* background: linear-gradient(to right, rgb(255, 255, 109), rgb(255, 197, 91)); */
    background: linear-gradient(to right, #FFE5B4, #fcb11b);
    color: black;
    padding: 100px 0 30px;
    font-size: 12px;
    line-height: 15px;
}
.footer-logo{
    width: 40%;
    margin-top: -70px;
}
.footer-row{
    width: 85%;
     margin: auto;
    justify-content: space-between; 
}
.footer-col{
    padding: 10px;
}
.links{
    flex-basis: 15%;
}
.footer-col h3{
    width: fit-content;
    position: relative;
    margin-bottom: 40px;
}
.c1{
    margin-top: -30px;
}
.c1 a{
    color: black;
    width: fit-content;
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 1.1em;
}
.c1 h6{
    margin: 20px -3px;
}


.c2{
    margin-top: -30px;
    list-style: none;
}
.c2 h3{
    margin-left: 32px;
}
.c2 ul{
    margin-top: -15px;
}
.c2 li{
    list-style: none;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.c2 li a{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    padding-top: -30px;
}
.footer-form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}
.footer-form .fas{
    font-size: 18px;
    margin-right: 10px;
}
.footer-form input{
    width: 100%;
    background: transparent;
    color: black;
    border: 0;
    outline: none;

}
.footer-form button{
    background:transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}
.footer-form button .fas{
    font-size: 16px !important;
}
.c3{
    margin-top: -30px;
}

.social-icons .icon{
    width: 40px;
    height: 40px ;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: white;
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

hr{

    width: 90%;
    border: 0;
    border-bottom: 1px solid black;
    margin: 20px auto;
    
}

.copyright{
    text-align: center;
    padding-top: 10px;
}

.underline{
    width:100% ;
    border: 1px solid;
    color: black;
    /* height: 5px; */
    /* border-radius: 3px; */
    background: white;
    position: absolute;
    top:35px;
    left: 0;
    /* overflow: hidden; */
}

/* .underline span{
    width: 15px;
    height: 100%;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
 @keyframes moving {
    0% {
        left: -20px;
    }
    100%{
        left: 100%;
    }
} */

/* Register/Login */

/* .container{
    width: 100%;
    height: 100%;
    background-color: beige;
    background-position: center;
    background-size: cover;
    position: absolute;
    
} */

.form-box{
    width: 380px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background-color: white;
    overflow: hidden;
    border-radius: 8%;
}

.button-box{
    width: 230px;
    margin: 40px 85px 0px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff5f201f;
    
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: black;
}

.toggle-btn button:checked{
    color: white;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 5px 0;
    margin: 7px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    /* opacity: 0.3; */
}

.input ::placeholder{
    opacity: 0.5;
}

.sub-btn{
    width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px 40px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border:0;
    color: white;
    outline: none;
    border-radius: 30px;
    
}

.radio-btn{
    margin-left: 15px;
}

#login{
    left: 50px;
}
#register{
    left: 450px;
    /* font-size: 70%; */
    top: 100px;    
}
.speciality{
    margin: 0 2%;
}


/* @media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2){
        flex-basis: 100%;
    }
} */

:root {
    --surface-color: #fff;
    --curve: 40;
  }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    width: 100%;
    height: 25rem;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    background-color: #fcfad9;
  }
  
  .card__image {      
    width: 100%;
    height: 100%;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color:white;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0 ;    
    background-color: white;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }

  
  .card__arc path {
    fill: var(--surface-color);
    /* d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); */
  }       

  .card:hover .card__header {
    transform: translateY(0);
  }

  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }

  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: black;
  }

  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: black;  
  }

  .card__status {
    font-size: .8em;
    color: black;
  }

  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: black;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .rest-type{
    text-align: center;
    width: 100%;
    padding-top: 5%;
    font-size: 4rem;
    font-family: 'Merriweather', serif;

  }

  
  /* *{
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}*/
.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fbd4be;
}
  .list-container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .list-container .list-title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .list-container .list-title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: rgb(255, 191, 136);
  }
  .content .add-form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .add-form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  .add-form .input-box span.details{
    display: block;
    font-weight: 500;
    /* margin-top: 3%; */
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .add-form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }  
   .add-form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   .add-form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   .add-form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #e5a780;
     border-color: #d9d9d9;
   }
   /*form input[type="radio"]{
     display: none;
   } */
   .add-button{
     height: 45px;
     margin: 35px 0
   }
    .add-button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #ff7331, #ed6120);
   }
   .add-button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #ff7331, #ed6120);
    }
  
    .input-file{
      margin-top: 2%;
    }

    .input-box ::placeholder{
        opacity: 0.4;
    }

    .input-box{
        margin-top: 3%;
    }


   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  .add-form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    .add-form .category{
      width: 100%;
    }
    .content .add-form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }

  /* menu */
  .row .menu-title h2{
    padding: 0px 280px;
    margin-bottom: -2%;
  }
  .section-title{
    padding: 4% 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .menu-upper-container{
    justify-content: center;
  }

  .menu-title p{
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    font-weight: 700;
    margin-top: -1%;
    transition: 0.3s ease-in-out;
  }
  
  .menu-title p:hover{
    text-decoration: underline;
  }
  hr{
    margin: 2% 0%;
    width: 100%;
    border: solid 1px black;
  } 
  .section-title a{
    text-decoration: none;
    color: black;
  }
  
  
  .menu-container{
    padding: 0% !important;
  }
  .menu .menu-item {
    margin-left: 22%; 
    margin-bottom: 2%;
    border: solid 1px rgba(0, 0, 0, 0.038);
    padding: 2%;
    width: 55%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
  }

  .menu .veg{
    width: 4%;
    margin-top: -3.5%;
    margin-bottom: 0%;
    margin-left: 1.5%;
    /* float: right; */
  }
  
  .menu .menu-img {
    width: 150px;
    border-radius: 10px;
    float: left;
  }
  
  .menu .menu-content {
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .menu .menu-content::after {
    content: "";
    position: absolute;
    left: 20px;
    right: 0;
    top: -4px;
    z-index: 1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .menu .menu-content a {
    margin-left: 2%;
    padding-right: 10px;
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: black;
    transition: 0.3s;
  }
  
  .menu .menu-content a:hover {
    color: #cda45e;
  }
  
  .menu button{
    float: right;
    position: relative;
    bottom: -70%;
    width: 10%;
    border-radius: 10px;
    color: green;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
  }
  
  .menu button:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    background-color: rgb(10, 160, 10);
    color: white;
  }
  .menu-ingredients p{
    margin-left: 20.55%;
    /* margin-top: -2rem; */
    font-size: 0.9em;
    width: 60%;
    font-family: "Poppins", sans-serif;
    color: black;
  }
  
  .menu-price{
    float: right;
    position: relative;
    top: -90px;
    font-size: 1.1em;
    width: 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.733);
    color: yellow;
    padding: 1%;
    border-radius: 10px;
  }
  
  .menu-price-1{
    float: right;
    position: relative;
    top: -70px;
    font-size: 1.1em;
    width: 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.733);
    color: yellow;
    padding: 1%;
    border-radius: 10px;
  }
