body{
    margin: 0px;
    background-color: #fbd4be;
}

h2 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    height: 3rem;
    margin-top: 1.5rem;
    font-weight:700;
    padding-left: 7%;
}

.navbar ul{
    margin-left: 12rem;
}

.navbar ul li{
    padding: 6px 3px;
    margin: 0rem 1.5rem;
}

.icons {
    padding: 30px 40px;
}

.logo {
    width: 8%;
}

/* .profile-icon{
    width: 60px;
    height: 60px;
} */
.user-pic{
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 3%;
}

.sub-menu-wrap{
    position: absolute;
    top:90%;
    right: 3%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5%;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    font-family: 'Satisfy', cursive;
    margin-top: 10px;
}

.user-info img{
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0px 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    margin-top: 12px;
}

.sub-menu-link .img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 12px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}




/* #Home */
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
#title {
    color: black;
    text-align: left;
}

  
#title .container-fluid {
    padding: 10% 20%;
    font-size: 2em;
    height: 40rem;

}

.title-image {
    margin: -15% 0% 20% 20%;
    width: 110%;
    height: auto;

}

.title-btn{
    height: 3rem;
    width: 70%;
    margin: 3% 0%;
    border-radius: 10rem;
    border: 0;
    outline: none;
    font-size: 60%;
    font-weight: 600;
} 

#features {
    position: relative;
    background-color: white;
    height: 35rem;

}

.container-fluid-features{
    height: 100%;
}

.container-fluid-features .row{
    height: 80%;
    margin-right: 0% !important;
}
  
.feature-title {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin-top: 8%;
}
  

.feature-box{
    height: 100%;
    text-align: center;
    padding-top: 3%;
}

.image-features{
    height: 60%;
    /* padding-right: 25%; */
}


.service {
    text-align: center;
    padding-top: 5%;
}

#Menu {
    background-color: rgb(232, 103, 103);
}

.food {
    height: 150px;
    width: 160px;
    
}

.menu-row{
    padding: 20px 260px;
}

.menu-head {
    text-align: center;
    padding-top: 5%;
}

.menu-box {
    padding: 2%;
    padding-right: 15%;
    padding-left: 8%;
    text-align: center;
}

.menu-box h3{
    margin-left: 28px;
}

.bev{
    padding-left: 40px;
}

/* footer */

footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, rgb(255, 255, 109), rgb(255, 197, 91));
    color: black;
    padding: 100px 0 30px;
    font-size: 12px;
    line-height: 15px;
}
.footer-logo{
    width: 40%;
    margin-top: -70px;
}
.footer-row{
    width: 85%;
     margin: auto;
    justify-content: space-between; 
}
.footer-col{
    padding: 10px;
}
.links{
    flex-basis: 15%;
}
.footer-col h3{
    width: fit-content;
    position: relative;
    margin-bottom: 40px;
}
.c1{
    margin-top: -30px;
}
.c1 a{
    color: black;
    width: fit-content;
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 1.1em;
}
.c1 h6{
    margin: 20px -3px;
}


.c2{
    margin-top: -30px;
    list-style: none;
}
.c2 h3{
    margin-left: 32px;
}
.c2 ul{
    margin-top: -15px;
}
.c2 li{
    list-style: none;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.c2 li a{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    padding-top: -30px;
}
.footer-form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}
.footer-form .fas{
    font-size: 18px;
    margin-right: 10px;
}
.footer-form input{
    width: 100%;
    background: transparent;
    color: black;
    border: 0;
    outline: none;

}
.footer-form button{
    background:transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}
.footer-form button .fas{
    font-size: 16px !important;
}
.c3{
    margin-top: -30px;
}

.social-icons .icon{
    width: 40px;
    height: 40px ;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: white;
    margin-right: 15px;
}

hr{

    width: 90%;
    border: 0;
    border-bottom: 1px solid black;
    margin: 20px auto;
    
}

.copyright{
    text-align: center;
    padding-top: 10px;
}

.underline{
    width:100% ;
    height: 5px;
    border-radius: 3px;
    background: #767676;
    position: absolute;
    top:35px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
 @keyframes moving {
    0% {
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

/* Register/Login */

/* .container{
    width: 100%;
    height: 100%;
    background-color: beige;
    background-position: center;
    background-size: cover;
    position: absolute;
    
} */

.form-box{
    width: 380px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background-color: white;
    overflow: hidden;
    border-radius: 8%;
}

.button-box{
    width: 230px;
    margin: 40px 85px 0px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff5f201f;
    
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 10px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.sub-btn{
    width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px 40px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border:0;
    outline: none;
    border-radius: 30px;
    
}

.radio-btn{
    margin-left: 15px;
}

#login{
    left: 50px;
}
#register{
    left: 450px;
    top: 90px;
}

/* @media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2){
        flex-basis: 100%;
    }
} */


